table {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tg td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 5px;
  /* border-style: solid;
  border-width: 1px; */
  overflow: hidden;
  word-break: normal;
  /* border-color: black; */
}
.tg th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  /* border-style: solid;
  border-width: 1px; */
  overflow: hidden;
  word-break: normal;
  /* border-color: black; */
}
.tg .tg-baqh {
  text-align: center;
  vertical-align: top;
  padding: 2px 10px !important;
  color: gray;
}
.tg .tg-0lax {
  text-align: left;
  vertical-align: top;
  margin: 2px !important;
}

.data {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  color: black;
  border-radius: 10px !important;
  border-collapse: separate !important;
  /* width: 80px !important; */
}

.filter {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 15px 15px 15px !important;
  border-collapse: separate !important;
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
  margin: 3px 6px;
  font-size: 13px;
}

.selected {
  background-color: rgb(96, 192, 96);
}
