body,
html {
  overflow-x: hidden;
}

.brand {
  font-weight: bold;
  font-size: 30px !important;
  letter-spacing: 2px;
  color: white !important;
  font-family: "Sriracha", cursive;
}

nav {
  background-color: #3c40c6;
}

body {
  width: 100%;
  height: 100vh;
  background: url(bhero.jpeg) no-repeat 50% 50%;
  background-size: cover;
}

.jumbotron {
  width: 80%;
  margin-top: 30%;
  background-color: #99aaab;
  padding: 5% !important;
}

.form-control {
  background-color: #474747e7 !important;
  color: azure !important;
}
